PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=L-gfsM2eG-mtThy05pr7MA4UZoo6V4Nn
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=adonis
PG_PASSWORD=admin
PG_DB_NAME=NextBase
